.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  &-logo {
    display: block;
  }
  @media screen and (max-width: 600px) {
    padding: 20px 16px;
  }
}